<% layout('./layout') -%>
<link rel="stylesheet" type="text/css" href="/css/tabs.css" />
<div id="start" class="bg2">
    <div class="container">
        <h3>쇼핑몰 이용안내</h3>
        <section class="tabs">
            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
            <label for="tab-1" class="tab-label-1">주문안내</label>

            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
            <label for="tab-2" class="tab-label-2">결제안내</label>

            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
            <label for="tab-3" class="tab-label-3">취소/환불안내</label>

            <div class="clear-shadow"></div>

            <div class="content">
                <div class="content-1">
                    <h3>주문안내</h3>
                    <pre>
상품주문은 다음단계로 이루어집니다.

- Step1: 상품검색
- Step2: 장바구니에 상품 담기
- Step3: 회원 로그인
- Step4: 주문서 작성
- Step5: 결제수단선택 및 결제
- Step6: 주문 결과 확인 후 입금하기
- Step7: 주문현황 확인 (마이페이지에서 확인)

입금 후 24시간 이후에도 SMS발송을 받지 못한 경우 고객센터로 문의 주시기 바랍니다.
                      </pre>
                </div>
                <div class="content-2">
                    <h3>결제안내</h3>
                    <pre>
무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.
주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 입금되지 않은 주문은 자동취소 됩니다.
입금 후 24시간 이후에도 SMS발송을 받지 못한 경우 고객센터로 문의 주시기 바랍니다.
						  </pre>
                </div>

                <div class="content-3">
                    <h3>취소/환불안내</h3>
                    <pre>
발급된 상품(일련번호/쿠폰)의 사용여부를 확인 하고 취소/환불처리가 됩니다.
취소/환불 요청 시에는 환불 받을 은행명, 계좌번호, 예금주에 대한 정보를 주셔야 합니다.
취소/환불 요청은 주문하신 고객(본인)님이 직접 하셔야 하며 입금자명과 환불 시 예금주명이 동일해야 합니다.
                        </pre>
                </div>

            </div>
        </section>

    </div><!--container-->


</div><!--start-->

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    $(function() {

    });
</script>