<div class="fh5co-footer">
    <ul>
        <li><a href="/terms">이용약관</a></li>
        <li><a href="/terms/guide">쇼핑몰 이용안내</a></li>
        <li><a href="/terms">개인정보취급방침</a></li>
        <li><a href="/ascenter">고객센터</a></li>
    </ul>
</div>

<div class="footer">
    <div class="group">
        <div class="info">
            <h3>ADPAY <span class="orange">에이디페이</span></h3>
            <ul class="infodetail">
                <li>대표번호 연결: <a href="tel:031-689-3259">031-689-3259</a></li>
                <li>입금계좌번호: 농협 301-0218-5092-81</li>
                <li>              국민 592201-01-655279</li>
                <li>예금주명: 주식회사 에이디커뮤니티케이션</li>
            </ul>
        </div>

        <div class="info">
            <h3>고객센터</h3>
            <ul class="infodetail">
                <li>월-토(9:00~19:00), 토(15시까지)</li>
                <li><a href="tel:031-689-3259">Tel: 031-689-3259</a></li>
                <li>E-mail: <a href="mailto:saddaycz@hanmail.net">saddaycz@hanmail.net</a></li>
            </ul>
        </div>

        <div class="info">
            <h3>상호명: 에이디페이(ADPAY)</h3>
            <ul class="infodetail">
                <li>회사명: (주)에이디커뮤니케이션</li>
                <li>대표자: 김민호</li>
                <li>사업자등록번호: 865-81-00798</li>
                <li>통신판매업신고: 2017-안양동안-0763</li>
                <li>사업장주소: 경기도 안양시 동안구 시민대로 230 에이동 3609호</li>
            </ul>
        </div>


        <div class="info">
            <ul class="infodetail">
                <li><!--농협 에스크로 이체 인증마크 적용 시작-->

                    <!--<script>
                        function onPopCertMar(key){
                            window.open('','self','height=700, width=650, status=yes, toolbar=no, menubar=no, location=no');
                            document.CERTMARK_FORM.certMarkURLKey.value = key;
                            document.CERTMARK_FORM.action='https://escrow.nonghyup.com/?certMarkURLKey=' + key;
                            document.CERTMARK_FORM.target='self';
                            document.CERTMARK_FORM.submit();
                        }
                    </script>

                    <FORM name='CERTMARK_FORM' METHOD='POST'>
                        <input type="hidden" name="certMarkURLKey">
                    </FORM>-->
                    <a href="javascript:onPopCertMar('49334eedfb793cc4d0199e24bee153d9')"><img src='/images/esk_001.gif' alt='에스크로이체로 결제하기' border='0'/></a>

                    <!--농협 에스크로 이체 인증마크 적용 종료-->
                </li>
                <li><img src='/images/esk_002.gif' alt='공정거래위원회 한국표준약관사용' border='0' /></li>
                <li><img src='/images/esk_003.gif' alt='국세청현금영수증 가맹점' border='0' /></li>
            </ul>
        </div>


    </div><!--group-->
</div><!--footer-->