<% layout('../layout') -%>

<!--상품 상세 페이지 상단-가격/옵션/장바구니 시작-->
<div class="row product-detail bg-lightgrey">
    <!--상품 이미지 -->
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12 col-detail">
        <div class="thumb"><img src="/images/product/thumb/googlegame-02.jpg"></div>
    </div>
    <!--상품 이미지 끝-->

    <!--상품 정보 및 옵션 선택-->
    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-12 col-detail">
        <h3>리니지M</h3>
        <dl>
            <dt>할인가:<input type="text" id="" value="28,000" class="orange size8"/>원</dt>
            <dd>소비자가: <input type="text" id="" value="38,000" class="original size8" />원</dd>
            <dd>결제수단: 무통장입금</dd>
            <dd>배송방법: 입금확인 후 SMS문자</dd>
            <dd><span class="small black">* 문자로 발송 받은 상품번호가 노출 되지 않도록 주의 바랍니다.</span></dd>
        </dl>
        <p class="search-bar">
            <select>
                <option selected>필수선택</option>
                <option>아데나큐브패키지</option>
                <option>40000 다이아</option>
                <option>50000 다이아</option>
            </select>
        </p>
    </div>
    <!--상품 정보 및 옵션 선택 끝--->

    <!--선택 상품 가격 및 수량 정정-->
    <div class="col-lg-4 col-md-5 col-sm12 col-xs-12 col-detail">
        <h4>선택상품/가격</h4>
        <ul>
            <li>다이아 <input type="text" id="" value="33,000"/>
                <div class="quantity">
                    <input type="text" name="num" value="1" id="" class="num" />
                    <a href="#"><img src="images/num_up.jpg" alt="수량증가하기" class="num_up"/></a>
                    <a href="#"><img src="images/num_down.jpg" alt="수량차감하기" class="num_down"/></a>
                </div>
                <span class="price-tag"><input type="text" id="" value="33,000" class="size7" />원</span>
            </li>
        </ul>
        <h5>총 결제금액(수량): <input type="text" id="opTprice" name="opTprice" class="price size12" value="58,000"/>원(<input type="text" id="opCount" name="opCount" value="3"/>개)</h5>
        <input type="button" class="btn btn-grey" value="바로구매"><input type="button" class="btn btn-warning" value="장바구니">
    </div>
    <!--선택 상품 가격 및 수량 정정 끝-->

</div><!--row-->
<!--상품 상세 페이지 상단-가격/옵션/장바구니 끝-->

<!--상품 상세페이지 하단- 상세정보 시작-->
<div class="container">
    <div class="row">
        <div class="detail-page">상품정보가 있을때는 감싼 detail-page div 태그가 살아있게 하고 상품상세페이지가 없을때는 태그가 안 보이게 </div>
    </div>
</div>
<!--상품 상세페이지 하단- 상세정보 끝-->


<!-- script -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    $(function() {

    });
</script>